* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
  
}


.card {
    display: flex;
    gap: 10px;
    margin: 10px;


}

.thumnail img {
    width: 200px;
    height: 100px;
    border-radius: 10px;

}

.thumnail {
    grid-column: 1/2;
}

.part1 {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
    /* overflow: hidden; */

}

.duration {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(3, 40, 3);
    text-align: center;
    height: 40%;
    justify-self: end;
    align-self: flex-end;
    padding: 0px 5px;
    margin: 5px;
    border-radius: 5px;

}

.part2 {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.details {
    display: flex;
    gap: 10px;
}

.details div:nth-child(2)::after {
    content: " Views ·";
}

.details div:nth-child(1)::after {
    content: " ·";
}