@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Exile&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(./Assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 95vh;



}

.section1 {
    width: 100vw;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.678);
    /* border: 0px solid red; */

}

.main .section1 nav {
    width: 80vw;
    margin: auto;
    /* margin-top: 20px; */
    padding-top: 20px;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;

}

.main .section1 main {
    width: 50vw;
    margin: auto;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;

}

.main .section1 main h1 {
    font-size: 3.7rem;
    font-weight: 900;
}

.email {
    display: flex;
    width: 80%;
    gap: 5px;
}

.email input[type="email"] {
    background-color: black;
    border-radius: 5px;
    color: white;
    height: 5vh;
    border: 2px solid white;
    width: 60%;
    padding: 10px;
    font-size: 16px;
}

.email .submit {
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 40%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;


}

.email .submit * {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;

}


nav button {
    background-color: red;
    max-height: 35px;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
}

.logo {
    width: 10vw;
    min-width: 80px;

}


/* lower section */
.lowersection .box {
    height: 15vh;
    overflow: hidden;
    /* border: 2px solid red; */

}

.lowersection .box1 {
    color: white;
    display: flex;
    height: 100%;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}

.lowersection .box1:first-child {
    width: 80vw;
    margin: auto;
    /* margin-top: 5vh ; */
}

.lowersection .box1:first-child h2 {
    margin-top: 30%;

}

.lowersection .box2 {
    height: 100%;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    transform: rotatex(72deg) translateZ(25vh);
}

.section2 {
    height: 50vh;
    /* border: 2px solid red; */
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    /* justify-content: space-between; */
    gap: 3.125vw;

}

.section2 .card {
    /* border: 2px solid white; */
    height: 40vh;
    /* min-width: 100px; */
    border-radius: 10px;
    color: white;
    display: flex;
    position: relative;
}

.section2 .card::after {
    content: "";
    font-family: "Oswald", sans-serif;
    font-size: 100px;
    font-weight: 800;
    align-self: flex-end;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    position: absolute;
    right: 90%;

}

.section2 .card1::after {
    content: "1";
}

.section2 .card2::after {
    content: "2";
}

.section2 .card3::after {
    content: "3";
}

.section2 .card4::after {
    content: "4";
}

.section2 .card5::after {
    content: "5";
}

.section2 .card1 {
    background-image: url(./Assets/images/squid\ game.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.section2 .card2 {
    background-image: url(./Assets/images/great\ india.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.section2 .card3 {
    background-image: url(./Assets/images/old\ guard\ 2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.section2 .card4 {
    background-image: url(./Assets/images/raid2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.section2 .card5 {
    background-image: url(./Assets/images/rana\ naidu.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

/* Section 3 */
.section3 {
    height: 30vh;
    /* min-height: 400px; */
    /* border: 2px solid red; */
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    /* align-items: center;
    justify-content: center; */
    /* place-content: center; */
    /* justify-content: space-between; */
    gap: 20px;
    /* border: 2px solid red; */
}

.section3 .card {
    background-image: linear-gradient(to bottom right, rgba(8, 61, 158, 0.363), rgba(53, 53, 71, 0.451));
    /* border: 2px solid white; */
    height: 100%;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 16px;
    /* margin-top: 20px; */
    padding: 20px 10px;
    position: relative;

}

.section3 .card span {
    color: rgba(255, 255, 255, 0.562);
    /* text-align: justify; */
}

.section3 .card span:last-child {
    opacity: 100%;
    align-self: flex-end;
    position: absolute;
    bottom: 20px;

}

.section4{
    display: flex;
    flex-direction: column;
    
    width: 80vw;
    margin: auto;
    row-gap: 10px;
    margin-top: 100px;
    height: 80vh;
    color: white;

}
.section4 .box{
    border-radius: 5px;
    height: 10vh;
    align-content: center;
    padding: 0px        20px;
    background-color: #2e2c2c;
    display: flex;
    justify-content: space-between;
    

}
.section4 .box span{
    align-self: center;
}
.section4 .box span:first-child{
    font-size:25px;
    /* font-weight: 100; */

}

.section4 .box span:last-child{
    font-size:50px;
    font-weight: 100;

}
/* Responsive  */


@media only screen and (max-width:1280px) {

    .section3 {
        grid-template-columns: 2fr 2fr;
        column-gap: 20px;
        row-gap: 60px;
        min-height: 400px;
    }

    .main .section1 main {
        width: 60vw;
    }

}



@media only screen and (max-width: 960px) {
    .section3 {
        grid-template-columns: 2fr;
        height: 90vh;
        /* column-gap: 100px; */
        row-gap: 60px;

    }


    .section2 {
        grid-template-columns: 2fr 2fr 2fr 2fr;
        /* border: 2px solid red; */
        /* overflow:hidden;     */
        overflow-x: visible;
        overflow-y: clip;
        height: 35vh;
        margin-bottom: 50px;
    }

    .section2 .card {
        height: 35vh;

    }

    .main .section1 main {
        width: 90vw;
    }

}

@media only screen and (max-width: 600px) {
    .section1 {
        width: 100vw;
    }
        .section2 {
        grid-template-columns: 2fr 2fr 2fr;
        }

    .email {
        /* border: 2px solid red; */
        display: flex;
        /* margin: auto; */
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;

    }

    .email input[type="email"] {
        align-self: center;
        width: 100%;
        max-height: 25px;
    }

    .email .submit {
        /* border: 2px solid white; */
        width: 80%;
        min-height: 50px;
        align-self: center;
        justify-content: center;
        margin-top: 10px;
    }

    .main .section1 main {
        width: 90vw;
    }


    .main .section1 main h1 {
        font-size: 2rem;
        font-weight: 900;
    }

    .main .section1 main span {
        padding: 2px 40px;
    }

}

/* @media only screen and (max-width: 600px) {} */